<%= form_with(model: @user, local: true) do |f| %> 
<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag (@user.image.url) if @user.image && @user.image.url %>
</p>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', new_user_path %>  